.range-picker-control {
    .ant-picker {
        width: 100%;
        border-radius: 5px;
        background-color: var(--g_elements_bg_color);
        border: solid 1px var(--g_control_border_color);
    }
}