.content-title {
    padding: 20px 60px 10px;
    margin: 0 -60px 20px;
    box-shadow: 0 3px 4px rgba(0,0,0,.1);

    &__header {
        display: flex;
        justify-content: space-between;
    }

    .buttons-toolbar {
        margin: 10px;
    }
}