$selectRowTransition: 300ms;
$tagFontSize: 14px;
$tagBorderRadius: 10px;
$tagAndOptionPadding: 8px 15px;
$tagItemElMargin: 5px;
$iconSize: 7px;

.multi-select-control {
    width: 100%;

    .ant-select-selector {
        border-radius: 5px;
        border: 1px solid var(--g_control_border_color);
        background-color: var(--g_elements_bg_color);
    }

    &_has-tags-cloud {
        .ant-select-selection-item {
            display: none;
        }

        .ant-select-selector {
            &:before {
                padding-left: 7px;
                color: var(--g_control_placeholder_text_color);
                content: 'Выберите вариант';
            }
        }

        .ant-select-focused {
            .ant-select-selector {
                &:before {
                    display: none;
                }
            }

        }
    }

    .multi-select-addon-after {
        display: flex;
        align-items: center;

        .addon-after-content {
            padding-left: 5px;
        }
    }

    &__dropdown {
        padding: 0;
        border: 1px solid var(--g_control_border_color);
        background-color: var(--g_elements_bg_color);

        .ant-select-tree-treenode {
            padding: $tagAndOptionPadding;
            transition: $selectRowTransition;

            &:hover {
                background-color: var(--g_select_row_bg_color_hover);
                color: var(--g_text_color);
            }

            .ant-select-tree-checkbox-inner {
                background-color: var(--g_checkbox_bg_color);
                border: 1px solid var(--g_control_border_color);
            }

            &-checkbox-checked {
                color: #ffffff;
                font-weight: normal;

                .ant-select-tree-checkbox-inner {
                    background-color: var(--g_checkbox_color_checked);
                    border-color: var(--g_checkbox_color_checked);
                }
            }
        }

        .ant-select-tree-treenode:hover {
            background-color: var(--g_select_row_bg_color_hover);
        }

        .ant-select-tree-treenode-selected {
            background-color: var(--g_select_row_bg_color_checked);
            color: #ffffff;
        }

        .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
            background-color: transparent;
        }

        .ant-select-tree-switcher {
            .ant-select-tree-switcher-icon {
                width: 24px;
                height: 24px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }

        .ant-select-tree-node-content-wrapper {
            transition: none;

            &:hover {
                background-color: transparent;
            }
        }

        .ant-select-empty {
            padding: 5px 12px;
        }

        &_select-all {
            .ant-select-tree-checkbox-disabled {
                display: none;
            }

            .ant-select-tree-treenode-disabled .ant-select-tree-node-content-wrapper {
                padding: 0;
            }

            .select-all-option {
                display: block;
                padding-left: 27px;
                color: var(--g_link_color);
                cursor: pointer;
            }
        }
    }
}

.multi-select-tags {
    margin-top: $tagItemElMargin * 2;
    display: flex;
    flex-wrap: wrap;

    &__item {
        background-color: var(--g_select_tag_bg_color);
        display: flex;
        align-items: center;
        font-size: $tagFontSize;
        color: #ffffff;
        padding: $tagAndOptionPadding;
        border-radius: $tagBorderRadius;
        margin-right: $tagItemElMargin;
        margin-bottom: $tagItemElMargin;
        line-height: 1;
        cursor: pointer;

        &:last-child {
            margin-right: 0;
        }

        span {
            margin-right: $tagItemElMargin;
        }

        i {
            width: $iconSize;
            height: $iconSize;
            background-image: url(../../../image/icon-cancel.png);
            background-repeat: no-repeat;
            display: inline-block;
            position: relative;
        }
    }
}

.multi-select-list {
    display: flex;
    flex-direction: column;
    padding-left: 11px;

    &__item {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: 25px;

        &:first-child {
            margin-top: 5px;
        }

        div {
            font-size: 14px;
            color: var(--g_text_color);
            opacity: 0.7;
        }
    }

    &__btn-deselect {
        color: var(--g_text_color);
        font-size: 12px;
        opacity: 0.7;
    }
}