.control-group {
    padding: 15px 15px 5px;
    margin-bottom: 20px;
    margin-top: 10px;
    border-radius: 10px;

    &_no-padding {
        padding: 0;
    }

    &_light {
        background-color: var(--g_elements_bg_color);
    }

    &_bordered {
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
        background-color: var(--g_elements_bg_color);
    }

    &_dark {
        background-color: var(--control_group_bg_dark);
    }

    & > h4 {
        font-size: 21px;
        margin-bottom: 10px;
        padding-left: 10px;
    }
}

:host,
.light {
    --control_group_bg_dark: #f0f0f0;
}

.dark {
    --control_group_bg_dark:#000C1E;
}